@media (max-width:946px) {
    .header__menu {
        display: none;
    }

    .dn {
        display: none;
    }

    .db {
        display: block;
    }

    .offer__inner {
        display: block;
    }

    .ocontent__title,
    .ocontent__subtitle {
        text-align: center;
    }

    .offer_content {
        display: grid;
        justify-content: center;
    }

    .offer__img {
        display: grid;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 69px;
        margin-bottom: 0px;
    }

    .ocontent__button {
        margin: 0 auto;
    }

    .press__img {
        column-gap: 0px;
    }

    .parrow {
        display: block;
    }

    .pimg {
        width: 120px;
        height: 45px;
    }

    .saad__content {
        column-gap: 10px;
        justify-content: center;
    }

    .webimg {
        width: 294px;
        height: 188px;
    }

    .simg {
        width: 281px;
        height: 137px;
    }

    .functions__card {
        column-gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(65% - 30px);
        margin: 0 auto;
    }

    .fcard {
        margin-bottom: 20px;
    }

    .plans__pcard {
        flex-wrap: wrap;
        width: calc(73% - 30px);
        margin: 0 auto;
        justify-content: center;
    }

    .pcard {
        margin-bottom: 20px;
    }

    .rcard__content {
        font-size: 18px;
        width: 434px;
    }

    .cimg {
        width: 120px;
        height: 120px;
    }

    .company__inner {
        justify-content: center;
    }

    .cimg {
        width: 80px;
        height: 100px;
    }

    .footer__menu {
        column-gap: 25px;
        margin-left: 80px;
    }

    .simg {
        display: none;
    }

    .footer__inner {
        display: block;
    }

    .footer__sign {
        display: grid;
        justify-content: center;
    }

    .sign__logo,
    .sign__title {
        text-align: center;
    }

    .sign__img {
        margin: 0 auto;
    }

    .footer {
        padding-bottom: 10px;
    }

    .footer__menu {
        margin: 0 0;
        justify-content: center;
    }

    .copyright__text {
        text-align: center;
        font-size: 8px;
    }

    .pimg {
        height: 50px;
    }

    .scontent {
        text-align: center;
    }

    .scontent__title {
        margin-bottom: 0;
    }

    .scontent__subtitle {
        width: 200px;
    }

    .fcard {
        text-align: center;
    }

    .cimg {
        width: 170px;
    }

    .plans__link {
        font-size: 10px;
        padding-bottom: 22px;
    }

    .plans__pcard {
        padding-bottom: 0px;
    }

    .parrowTwo {
        display: block;
    }
}

@media (max-width:569px) {
    .upmodal__window {
        width: 405px;
    }
    .upinput {
        width: 332px;
    }
}



@media (max-width:438px) {
    .ocontent__title {
        font-size: 27px;
        width: 250px;
    }

    .ocontent__subtitle {
        font-size: 20px;
        margin: 0 auto;
        width: 265px;
        margin-bottom: 25px;
    }

    .saad__subtitle {
        font-size: 13px;
        width: 200px;
        margin: 0 auto;
        padding-bottom: 68px;
    }

    .made__icon {
        top: -36px;
    }

    .plans__pcard {
        width: calc(85% - 30px);
    }

    .plans__link {
        width: 200px;
        margin: 0 auto;
    }

    .plans__link a {
        font-size: 12px;
    }

    .rcard__content {
        width: 288px;
    }

    .sign__input {
        width: 137px;
    }

    .sign__button {
        width: 96px;
    }

    .sign__form {
        display: block;
        align-items: center;
        margin: 0 auto;
        width: 224px;
    }

    .upmodal__window {
        width: 284px;
    }

    .upinput {
        width: 207px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .upcancel {
        width: 20px;
        height: 20px;
    }
}